:root{
    --grey: #bebebe;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-size: 16px;
    font-family: 'Karma', sans-serif;
    position: relative;
}

label{
    font-weight: normal;
}

button.add, button.cancel{
    border: none;
    background-color: white;
}

button:hover{
    cursor: pointer;
}

.container.blur {
    filter: blur(1px) brightness(95%);
}

.top-bar{
    color: #000000;
    box-shadow: 1px 1px 1px #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 5rem;
    position: relative;
}

.top-bar > span {
    font-size: 30px;
    font-weight: 400;
}

/* .top-bar > div {
    position: absolute;
    right: 15px;
} */

.add-icon{
    width: 30px;
    height: 30px;
}

.cancel-icon {
    width: 12px;
    height: 12px;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.book{
    text-align: center;
    border: 1px solid var(--grey);
    border-radius: 15px;
    padding: 10px 15px;
    margin: 15px;
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book > .title {
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    font-size: 19px;
}

.book > .author {
    font-size: 16px;
}

.book > .info {
    width: 100%;
    height: 100%;
    padding: 5px 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.info > span:first-child{
    margin-top: auto;
    justify-self: center;
}

.info > span:last-child {
    margin-top: auto;
    justify-self: end;
}

.form-popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid var(--grey);
    border-radius: 15px;
    padding: 10px 50px;
    background-color: rgb(249, 249, 249);
}

.cancel {
    position: absolute;
    right: 20px;

}

form > h1 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    padding-top: 10px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.form-fields > label{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.form-fields > input {
    appearance: none;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 13px;
    font-family: 'Karma', sans-serif;
}

.form-buttons{
    display: flex;
    justify-content: space-around;
}

.form-buttons > button {
    padding: 9px 10px 5px 10px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    background-color: white;
    width: 100%;
    font-family: 'Karma', sans-serif;
    text-align: center;
}